# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Sqlite, XML, Gzip, Log
*.db
# *.xml
# *.gz
*.log
*.xlsx

# Emacs related stuff
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*